---
import "../styles/global.css";
const { dir, title, paragraphs } = Astro.props;
---

<div class="slide shadow" dir={dir}>
    <h1>{title}</h1>
    {paragraphs.map((paragraph: string) => <p>{paragraph}</p>)}
</div>

<script>
    function slideInOnScroll() {
        const slides = document.querySelectorAll(".slide");

        slides.forEach((slide) => {
            const rect = slide.getBoundingClientRect();
            const slideInTriggerPoint = window.innerHeight * 0.8;

            if (rect.top <= slideInTriggerPoint) {
                slide.classList.add("slide-in");
            }

            if (
                rect.bottom <= window.innerHeight * 0.2 ||
                rect.top > window.innerHeight * 0.8
            ) {
                slide.classList.remove("slide-in");
            }
        });
    }

    window.addEventListener("scroll", slideInOnScroll);
</script>

<style>
    .slide {
        background: var(--ash-gray);
        width: 100%;
        border-radius: 10px;
        position: relative;
        opacity: 0;
        box-shadow: 15px 11px 0 var(--naples-yellow);
        transition:
            opacity 0.33s ease,
            transform 0.5s ease;
    }

    /* Styles for left-to-right (ltr) direction */
    .slide[dir="ltr"] {
        text-align: left;
        direction: ltr;
        transform: translateX(-100%) rotate(2deg);
    }

    .slide[dir="ltr"] h1,
    .slide[dir="ltr"] p {
        margin-left: auto;
        margin-right: 0;
    }

    /* Styles for right-to-left (rtl) direction */
    .slide[dir="rtl"] {
        text-align: left;
        direction: rtl;
        transform: translateX(100%) rotate(-2deg);
    }

    .slide[dir="rtl"] h1,
    .slide[dir="rtl"] p {
        margin-left: 0;
        margin-right: auto;
    }

    /* Styles for slide in */

    .slide-in {
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }

    .slide[dir="ltr"].slide-in {
        transform: translateX(-40%) rotate(-2deg);
    }

    .slide[dir="rtl"].slide-in {
        transform: translateX(40%) rotate(2deg);
    }

    h1 {
        margin: 0;
        padding: 1rem;
        word-wrap: break-word;
        white-space: normal;
        width: 50%;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
    }
    p {
        margin: 0;
        padding: 1rem;
        width: 50%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
    }
</style>
